:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: #EFEFEF;
  border-bottom: solid 3px #BBB;
}

:host h1 {
  font-size: 18px;
  border-bottom: solid 2px #CCC;
  margin-bottom: 10px;
  padding-bottom: 4px;
  text-shadow: 0px 1px 0px white;
}

:host .counter {
  line-height: 3.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-family: "FiraSans", sans-serif;
  padding: .5rem 0rem;
  background: #0Da;
  color: #666;
}

:host #keys-wrapper h2 {
  color: #777;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

:host #keys[show=no]{
  display: none;
}

:host #keys-wrapper {
  background: #DDD;
  -webkit-border-radius: 5px;
  border-bottom: solid 1px #BBB;
  padding: 5px 0 3px 0px;
  font-size: 15px;
  border-bottom: solid 1px #BBB;
}

:host #items {
  margin-top: 10px;
  text-align: center;
}

:host .keyConfig {
  margin: 0 0 2px 0;
  text-align: center;
  color: #777;
  font-size: 15px;
}

:host input {
  display: block;
  padding: 5px;
}

:host .dataGroup {
  padding: 5px 0;
  border: solid 1px #DDD;
  margin-bottom: 5px;
  background: white;
  padding: 5px;
  -webkit-border-radius: 3px;
}

:host .dataGroup .dataItem {
  padding: 5px 0;
  border-bottom: solid 1px #EFEFEF;
  font-size: 16px;
}

:host .dataGroup .dataItem:only-child {
  border: none;
}

:host .dataGroup img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

:host .deleteItem, :host .editItem, :host .addToItem {
  display: inline-block;
  padding: 4px 10px !important;
  background: #BBB;
  color: white;
  margin: 8px 0px 3px 0px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-border-radius: 3px;
}

:host .editItem {
  background: #358CCE;
}

:host .deleteItem {
  background: #999;
}

:host .addToItem {
  background: #84c147;
}

:host #datascope {
  text-align: center;
  padding-bottom: 5px;
}
